@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.App {
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
